body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

html,body,.root {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #272727;
}

@media (min-width: 500px) {
  .pomodoro {
    height: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/* Main section
------------------------------- */

@media (max-width: 500px) {
  .main {
    margin: 40px 0;
  }
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 5px;
}

/* Display */
.display {
  margin-bottom: 20px;
}

.time {
  font-size: 72px;
  font-weight: 400;
  color: #272727;
  display: block;
  width: 100%;
  text-align: center;
}

.timeType {
  display: block;
  font-size: 24px;
  color: #2BA0A0;
  font-weight: 300;
  width: 100%;
  text-align: center;
}

/* Time control */
.btn {
  border: 0;
  background: #2BA0A0;
  color: #fff;
  padding: 10px 0;
  width: 100%;
  max-width: 110px;
  margin: 1px;
  font-weight: 300;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.btn:hover {
  background: #1D8888;
}

.btn:active, .btn:focus  {
  outline:0;
  background: #5AAFAF;
}

.btnIcon {
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  background-size: 50px;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.btnIcon:hover {
  opacity: .8;
}

.btnIcon:active, .btnIcon:focus {
  outline:0;
  opacity: .5;
}

.play {
  background-image: url("./img/play.svg");
}

.stop {
  background-image: url("./img/stop.svg");
}
